<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<%- include('./partials/nav') %>
  <% if (typeof message !=='undefined' ) { %>
    <p>
      <%= message %>
    </p>
    <% } %>

      <body>
        <h1 class="post-title">Public Post's</h1>
        <div class="post-box">
          <% status.forEach(status=> { %>
            <div class="user-post">
              <% if (user) { %>
                <p>
                  <%= status.createdBy.username %>
                </p>
                <%= status.story %>
                  <% if (status.createdBy.equals(user._id)) { %>
                    <div class="edit-del-button">
                      <form action="/status/<%=status._id%>?_method=DELETE" method="POST">
                        <button type="submit">Delete <%= status.name %></button>
                      </form>
                      <a href="/status/<%= status._id %>/edit">Edit <%= status.name %></a>
                    </div>
                    <% } %>
                      <% } else { %>
                        <p>Please Sign-In or Sign-Up </p>
                        <% } %>
            </div>
            <% }) %>
        </div>
      </body>

</html>