<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/publicpost.css">

</head>
<%- include('./partials/nav') %>
  <% if (typeof message !=='undefined' ) { %>
    <p>
      <%= message %>
    </p>
    <% } %>

      <body>
        <h1 class="post-title">Public Post's</h1>
        <div class="post-box">
          <% status.forEach(status=> { %>
            <div class="user-post">
              <% if (user) { %>

                <div class="username-post">
                  <%= status.createdBy.username %>
                </div>
                <div class="img-and-status">
                  <div class="status-img">
                    <% if (status.image) { %>
                      <img class="img-input" src="<%=status.image%>" alt="<%= status.image %>">
                      <% } %>
                  </div>
                  <div class="post-message">
                    <%= status.story %>
                  </div>
                </div>
                <div class="post-btn">
                  <% if (status.createdBy.equals(user._id)) { %>
                    <div class="edit-del-button">
                      <div class="delete-button">
                        <form action="/status/<%=status._id%>?_method=DELETE" method="POST">
                          <button class="delete-btn" type="submit">Delete <%= status.name %> </button>
                        </form>
                      </div>
                      <button class="edit-btn">
                        <a href="/status/<%= status._id %>/edit" class="edit-button">Edit <%= status.name %></a>
                    </div>
                    </button>
                    <% } %>
                      <% } else { %>
                        <p>Please Sign-In or Sign-Up </p>
                        <% } %>
                      </div>
                    </div>
                    <% }) %>
        </div>
      </body>

</html>